<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Create the trust</span>
            <div class="text-6xl text-primary font-bold mb-3">Web3 users deserve to have</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Know Your Contract allows developers to acquire user trust in their projects by allowing them to KYContract their teams and verified contract. Using Decentralized Identifiers, AI and zkProofs, KYContract attributes and mints a trust score so users know they are interacting with trusted teams. Developers are then able to display the KYContract badge of trust on their dApps.</p>
            
            <button pButton pRipple label="Get Started" type="button" class="mr-3 p-button-raised" (onClick)="getStarted()"></button>
            <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined" (onClick)="viewDemo()"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="./../../assets/images/kycontract2.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">Trust, </span>
        <span class="text-blue-600">Acquired</span>
    </div>
    <div class="text-700 mb-6">KYContract enables a trusted Web3 ecosystem.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Built for Developers</div>
            <span class="text-700 line-height-3">Allows developers to gain trust in their projects.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">NFT Based Score</div>
            <span class="text-700 line-height-3">Badge of confidence minted as an NFT.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
            <span class="text-700 line-height-3">Simple submission processes.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Fast & Global Support</div>
            <span class="text-700 line-height-3">All developers are supported.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
            <span class="text-700 line-height-3">The codebase is fully opensourced. </span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Trusted Security</div>
            <span class="text-700 line-height-3">Using AI, contracts are reviewed and scored.</span>
        </div>
    </div>
</div>